<div class="panel panel-primary">
  <div class = "panel-heading">{{pageTitle}}</div>
  <div class="panel-body">
    <div>
      <input type="text" [(ngModel)]="filterBy" placeholder="Filter products" class="form-control" />
      <div class="alert alert-success" *ngIf="filterBy" >
        Products filetered by : {{filterBy}}
      </div>
    </div>
    <table class="table table-bordered" *ngIf="products && products.length">
      <tr>
          <th>
            <button class="btn btn-primary" (click)="toggleImage()">
              {{showHideImg ? 'Hide Image' : 'Show Image'}}
            </button>
          </th>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Release</th>
          <th>Price</th>
          <th>Rating</th>
      </tr>
      <tr *ngFor="let product of products | products:filterBy">
        <td>
          <img *ngIf="showHideImg" [src]="product.imageUrl" style="width:50px;"/>
        </td>
        <td>{{product.productName}}</td>
        <td>
          <a href="#" [routerLink]="['/details',product.productCode]">
            {{product.productCode}}
          </a>
        </td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.price}}</td>
        <td>
          <app-rating [rating] = "product.starRating" (ratingToParent) = "ratingFromChild($event)" ></app-rating>
        </td>
      </tr>
    </table>
  </div>
</div>